<link rel="import" href="../../../components/cells-middle-modal/cells-middle-modal.html">
<link rel="import" href="../../../components/cells-st-button/cells-st-button.html">
<link rel="import" href="../../../components/cells-image-card/cells-image-card.html">
<link rel="import" href="../../../components/cells-molecule-spinner-veil/cells-molecule-spinner-veil.html">
<link rel="import" href="../../../components/coronita-icons/coronita-icons.html">
<link rel="import" href="../../../components/cells-icon-message/cells-icon-message.html">

<dom-module id="dde-train-landing">
  <template>
    <style>
      :host {
        display: block;
        margin: 0 auto;
        font-family: Arial, Helvetica, sans-serif;
      }

      .trainlanding .row:nth-child(1) {
        text-align: center;
        width: 100%;
      }

      .trainlanding .row:nth-child(1) h5 {
        color: #0F2244;
        font-weight: bold;
        padding: 10px;
        font-size: 1.05rem;
        font-family: "Open Sans", "Helvetica Neue", sans-serif;
      }

      .trainlanding .row:nth-child(1) .grid,
      .trainlanding .row:nth-child(2) .grid {
        display: grid;
        flex-wrap: wrap;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, 200px);
        justify-content: center;
      }

      .trainlanding .row:nth-child(1) .grid .item,
      .trainlanding .row:nth-child(2) .grid .item {
        width: 200px;
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .trainlanding .row:nth-child(2) {
        text-align: center;
        margin-top: 100px;
        padding-top: 10px;
        overflow-y: auto;
        position: absolute;
        width: 80%;
        left: 12%;
      }

      .trainlanding .row:nth-child(2) .grid {
        justify-content: left;
      }

      .trainlanding .row:nth-child(2) h4 {
        margin-top: 20px;
        color: #0F2244;
        font-size: 18px;
        font-weight: bold;
      }

      #panel {
        transform: translateY(250%);
        opacity: 0;
        transition: transform 0.5s ease, opacity 1s ease;
      }

      #panel.show {
        transform: translateY(0%);
        opacity: 1;
        transition: transform 0.5s ease, opacity 1s ease;
      }

      .untrainedtemplates {
        padding-bottom: 50px;
      }

      .untrainedtemplates h5,
      .trainedtemplates h5 {
        color: #0F2244;
        font-size: 18px;
        text-align: left;
        line-height: 0.25rem;
        font-weight: bold;
      }

      cells-st-button.plus-button {
        position: absolute;
        background: transparent;
        color: #0F2244;
        border: none;
        font-size: 24px;
        font-weight: bold;
        z-index: 100;
        cursor: pointer;
      }

      cells-st-button.train-button {
        --cells-st-button: {
          min-height: 30px;
          min-width: 50px;
          background-color: #0F2244;
          font-size: 0.75rem;
          margin-bottom: 20px;
          margin-left: 30px;
        }

        --cells-st-button-disabled: {
          background-color: #eee;
        }
      }

      cells-st-button.back-button {
        position: relative;
        float: right;
        top: -60px;
        right: 20px;

        --cells-st-button: {
          min-height: 30px;
          min-width: 50px;
          background-color: #0F2244;
          font-size: 0.75rem;
        }

      }

      .selected {
        border: 3px solid #0f2244;
        filter: blur(1px);
      }

      .divider {
        border-top: 2px solid #eee;
      }

      .hide {
        display: none !important;
      }

      .modal cells-image-card {
        height: 100%;
        width: 100%;
        display: inline-block;

        --cells-image-card-wrapper-image-large: {
          min-height: 600px;
        }

        --cells-image-card-wrapper-card: {
          box-shadow: none;
        }

      }

      .modal cells-middle-modal {
        height: 100%;
        width: 80%;
        top: 30px;
        --cells-middle-modal-main-header-background-color: #eee;
        --cells-middle-modal-main-header-color: #0F2244;
        --cells-middle-modal-md-content-padding: 0;

        --cells-middle-modal-main-header-heading: {
          text-align: center;
        }

        --cells-middle-modal-md-content--icon-close: {
          color: black;
        }
      }

      .trainlanding .row:nth-child(1) cells-image-card,
      .trainlanding .row:nth-child(2) cells-image-card {
        width: 200px;
        max-width: 200px;
        display: inline-block;
        height: 180px;

        --cells-image-card-wrapper-image-large: {
          min-height: 180px;
          box-shadow: 10px 10px 16px -11px rgba(0, 0, 0, 0.55);
          border: solid 1px #D4D4D4;
        }

        --cells-image-card-wrapper-card: {
          box-shadow: none;
        }

        --cells-image-card-wrapper-card-body: {
          margin-top: 10px;
          margin-bottom: 10px;
          margin-left: 0;
          margin-right: 0;
        }

        --cells-image-card-wrapper-header-large: {
          margin: 0 0 8px 0;
          text-align: center;
        }

        --cells-image-card-wrapper-card-header-heading-text: {
          color: #0F2244;
          font-weight: bold;
          font-size: 16px;
          font-family: Arial, Helvetica, sans-serif;
        }
      }

      cells-icon-message {
        margin: auto;
        width: 20%;
        padding-top: 20px;
        --cells-icon-message-color: red;
      }
    </style>
    <cells-molecule-spinner-veil open="{{isLoading}}"></cells-molecule-spinner-veil>
    <template is="dom-if" if={{showErrMsg}}>
      <cells-icon-message class="inline" type="error" icon="coronita:error" icon-size="24" message="[[errorMessage]]">
      </cells-icon-message>
    </template>
    <div class="trainlanding">
      <div class="row">
        <template is="dom-if" if={{usecasesLength}}>
          <h5>USECASES FOR TRAINING</h5>
          <div class="grid">
            <template is="dom-repeat" items="{{usecases}}">
              <div class$="{{_computeUsecaseClasses(item.selected)}}" on-click="_selectUsecase">
                <cells-image-card heading="{{item.name}}" image-url="https://54.85.63.69/{{item.image}}"
                  alt="Your image alt"></cells-image-card>
              </div>
            </template>
          </div>
        </template>
      </div>
      <div class="row" id="panel">
        <template is="dom-if" if={{templates.length}}>
          <h4>Select a Template</h4>
          <cells-st-button class="back-button" on-click="_hidePanel">
            <button>Back</button>
          </cells-st-button>
          <cells-st-button class="train-button" on-click="_navigateToTrain">
            <button disabled={{isTemplateSelected}}>Train</button>
          </cells-st-button>
          <template is="dom-if" if="{{untrainedTemplatesLength}}">
            <div class="untrainedtemplates">
              <h5>Untrained Template(s)</h5>
              <div class="grid">
                <template is="dom-repeat" items="{{untrainedTemplates}}">
                  <div class$="{{_computeTemplateClasses(item.selected)}}" on-click="_selectTemplate">
                    <cells-st-button class="plus-button" on-click="_showTemplatePreview" class="size-xs">+
                    </cells-st-button>
                    <cells-image-card heading="{{item.name}}" image-url="https://54.85.63.69/{{item.image}}"
                      alt="Your image alt"></cells-image-card>
                  </div>
                </template>
              </div>
            </div>
          </template>
          <template is="dom-if" if="{{trainedTemplatesLength}}">
            <div class$="{{_computeTrainedTemplatesClasses(untrainedTemplatesLength)}}">
              <h5>Trained Template(s)</h5>
              <div class="grid">
                <template is="dom-repeat" items="{{trainedTemplates}}">
                  <div class$="{{_computeTemplateClasses(item.selected)}}" on-click="_selectTemplate">
                    <cells-st-button class="plus-button" on-click="_showTemplatePreview" class="size-xs">+
                    </cells-st-button>
                    <cells-image-card heading="{{item.name}}" image-url="https://54.85.63.69/{{item.image}}"
                      alt="Your image alt"></cells-image-card>
                  </div>
                </template>
              </div>
            </div>
          </template>
        </template>
      </div>
      <div class="modal">
        <cells-middle-modal open="{{openModal}}" close-icon="coronita:close" aria-labelledby="ariaText3"
          heading-level="0" main-header-text="{{selectedTemplate.name}}">
          <div class="body">
            <cells-image-card image-url="https://54.85.63.69/{{selectedTemplate.image}}" alt="Your image alt">
            </cells-image-card>
          </div>
        </cells-middle-modal>
      </div>
    </div>
  </template>

  <script>
    class DDETrainLanding extends Polymer.Element {
      static get is() {
        return 'dde-train-landing';
      }

      // Declare properties for the element's public API
      static get properties() {
        return {
          usecases: {
            type: Array
          },
          usecasesLength: {
            type: Number,
            value: 0
          },
          usecaseid: {
            type: String
          },
          templates: {
            type: Array
          },
          untrainedTemplates: {
            type: Array
          },
          untrainedTemplatesLength: {
            type: Number,
            value: 0
          },
          trainedTemplates: {
            type: Array
          },
          trainedTemplatesLength: {
            type: Number,
            value: 0
          },
          openModal: {
            type: Boolean,
            value: false
          },
          selectedTemplate: {
            type: Object,
          },
          isUsecaseSelected: {
            type: Boolean,
            value: false
          },
          isTemplateSelected: {
            type: Boolean,
            value: false
          },
          isLoading: {
            type: Boolean,
            value: false
          },
          errorMessage: {
            type: String
          },
          showErrMsg: {
            type: Boolean,
            value: false
          }
        };

      }

      ready() {
        super.ready();
      }

      _requestForUsecases() {
        this.set('isLoading', true);
        this.dispatchEvent(new Event('request-for-usecases'));
      }

      _storeUsecasesData(data) {
        let tempUsecases = [];
        if (data) {
          for (let property in data) {
            tempUsecases.push(Object.assign(data[property], { use_case_id: property }, { selected: false }));
          }
          this.set('usecases', tempUsecases);
          this.set('usecasesLength', tempUsecases.length);
          this.set('isLoading', false);
        }
      }

      _computeUsecaseClasses(selected) {
        if (selected) {
          return 'item selected';
        } else if (this.isUsecaseSelected & !selected) {
          return 'item hide';
        } else {
          return 'item';
        }
      }

      _computeTemplateClasses(selected) {
        return selected ? 'item selected' : 'item';
      }

      _computeTrainedTemplatesClasses(untrainedTemplatesLength) {
        return untrainedTemplatesLength ? 'trainedtemplates divider' : 'trainedtemplates';
      }

      _selectUsecase(evt) {
        if (this.showErrMsg) {
          this.set('showErrMsg', false);
        }
        this.set('isTemplateSelected', true);
        let usecase = evt.model.item;
        this.set('usecaseid', usecase.use_case_id);
        let usecases = this.usecases;
        this.set('usecases', []);
        usecases.forEach((item) => {
          if (usecase.use_case_id === item.use_case_id && !item.selected) {
            item.selected = true;
          } else {
            item.selected = false;
          }
        });
        setTimeout(() => {
          this.set('usecases', usecases);
          this.set('usecasesLength', usecases.length);
        });
        if (usecase.selected) {
          this.set('isUsecaseSelected', true);
          this.$.panel.classList.add("show");
          this.$.panel.classList.add("divider");
          const data = usecase.use_case_id;
          this.set('isLoading', true);
          this.dispatchEvent(new CustomEvent('request-for-templates', { detail: data }));
        } else {
          this.set('isUsecaseSelected', false);
          this.$.panel.classList.remove("show");
          this.$.panel.classList.remove("devider");
          this.set('templates', []);
        }
      }

      _storeTemplatesData(data) {
        data.forEach(item => item.selected = false);
        this.set('templates', data);
        const tempUntrainedTemplates = this.templates.filter((value) => value.is_trained === 0);
        this.set('untrainedTemplates', tempUntrainedTemplates);
        this.set('untrainedTemplatesLength', tempUntrainedTemplates.length);
        const tempTrainedTemplates = this.templates.filter((value) => value.is_trained === 1);
        this.set('trainedTemplates', tempTrainedTemplates);
        this.set('trainedTemplatesLength', tempTrainedTemplates.length);
        this.set('isLoading', false);
      }

      _selectTemplate(evt) {
        if (this.showErrMsg) {
          this.set('showErrMsg', false);
        }
        let template = evt.model.item;
        this.set('selectedTemplate', template);
        if (!template.is_trained) {
          let untrainedTemplates = this.untrainedTemplates;
          this.set('untrainedTemplates', []);
          untrainedTemplates.forEach((item) => {
            if (template.id === item.id && !item.selected) {
              item.selected = true;
            } else {
              item.selected = false;
            }
          });
          setTimeout(() => {
            this.set('untrainedTemplates', untrainedTemplates);
            this.set('untrainedTemplatesLength', untrainedTemplates.length);
          });
        } else {
          let trainedTemplates = this.trainedTemplates;
          this.set('trainedTemplates', []);
          trainedTemplates.forEach((item) => {
            if (template.id === item.id && !item.selected) {
              item.selected = true;
            } else {
              item.selected = false;
            }
          });
          setTimeout(() => {
            this.set('trainedTemplates', trainedTemplates);
            this.set('trainedTemplatesLength', trainedTemplates.length);
          });
        }
        if (template.selected) {
          this.set('isTemplateSelected', false);
        } else {
          this.set('isTemplateSelected', true);
        }
      }

      _showTemplatePreview(evt) {
        this.set('selectedTemplate', evt.model.item);
        this.set('openModal', true);
      }

      _hidePanel() {
        this.$.panel.classList.remove("show");
        this.set('templates', []);
      }

      _navigateToTrain() {
        const data = {
          "selectedTemplate": this.selectedTemplate,
          "usecaseid": this.usecaseid
        };
        this.dispatchEvent(new CustomEvent('navigate-to-train', { detail: data }));
      }

      _displayErrorMsgForUsecases() {
        this.set('isLoading', false);
        this.set('errorMessage', 'Unable to fetch useacses');
        this.set('showErrMsg', true);
      }

      _displayErrorMsgFortemplates() {
        this.$.panel.classList.remove("divider");
        this.set('isLoading', false);
        this.set('errorMessage', 'Unable to fetch templates');
        this.set('showErrMsg', true);
      }

    }
    customElements.define(DDETrainLanding.is, DDETrainLanding);
  </script>
</dom-module>