<link rel="import" href="../../../components/cells-image-card/cells-image-card.html">
<link rel="import" href="../../../components/app-storage/app-storage-behavior.js">
<link rel="import" href="../../../components/cells-file-reader/cells-file-reader.html">
<link rel="import" href="../../../components/cells-molecule-spinner-veil/cells-molecule-spinner-veil.html">
<dom-module id="dde-extract-landing">
    <template>
        <style>
        :host {
            display: block;
            font-family: Arial, Helvetica, sans-serif;
        }
        h1{
            text-transform: uppercase;
            font-size: 14px;
        }
        #usecases{
           max-width: 1140px;
           margin: 0 auto;
           text-align: center;
        }
        #templates label{
            padding-right: 20px;
            font-weight: bold;
            font-size: 18px;
        }
        .form-container, .upload-form{
            border: solid 2px #eee; 
            border-radius: 20px; 
            padding: 20px 10px; 
            max-width: 70%; 
            margin: 20px auto;
        }
        #templates label.templateName{
            font-weight: normal;
            font-size: 16px;
        }
        .upload-form h2{
            font-weight: bold;
            font-size: 18px;
        }
        button, input[type=button]{
            background: #102244;
            color: #FFF;
            font-size: 13px;
            border: none;
            border-radius: 3px;
            padding: 10px;
            cursor: pointer;
        }
        button.secondary{
            background: #6c757d;
        }
        .fileInput{
            display: block; 
            margin-top: 10px;
        }
        #addButton{
            margin-top:10px;
            margin-bottom: 10px;
        }
        #templates{
            transform: translateY(150%);
            opacity: 0;
            transition:transform 0.5s ease,  opacity 0.25s ease;
        }
        #templates.show{
            transform: translateY(0%);
            opacity: 1;
            transition:transform 0.5s ease, opacity 0.25s ease;
        }
        #fileUploadContainer{
            opacity: 0;
        }
        #fileUploadContainer.show{
            opacity: 1;
            transition: opacity 0.25s ease;
        }
        cells-image-card.show{
            --cells-image-card-wrapper-image-large:{
                border:3px solid #0f2244;
                filter: blur(1px);
            }
        }
        cells-image-card{
            width: 200px;
            max-width: 200px;
            display: inline-block;
            margin: 10px;
            height: 180px;
            --cells-image-card-wrapper-image-large:{
                min-height: 180px !important;
                box-shadow: 10px 10px 16px -11px rgba(0, 0, 0, 0.55);
                border: solid 1px #D4D4D4;
            }
            --cells-image-card-wrapper-card:{
                box-shadow: none;
            }
            --cells-image-card-wrapper-card-body:{
                margin-top:10px;
                margin-bottom: 10px;
                margin-left: 0;
                margin-right: 0;
            }
            --cells-image-card-wrapper-header-large:{
                 margin: 0 0 8px 0;
                 text-align:center;
             }
            
             --cells-image-card-wrapper-card-header-heading-text:{
                color: #0F2244;
                font-weight: bold;
                font-size: 16px;
                font-family: Arial, Helvetica, sans-serif;
             }
        }
       
       
        </style>
       <div id="usecases">
           

            <h1>Usecases for Extraction</h1>
            <cells-molecule-spinner-veil open="{{isLoading}}"></cells-molecule-spinner-veil>
            <div style="display: flex;  justify-content: center; margin-bottom: 80px;"> 
                <template id="usecaseListing" is="dom-repeat" items="{{usecases}}"  as="usecase">
                    <cells-image-card on-click="_selectTemplate" data-item$="[[usecase]]" heading="{{usecase.value.name}}" image-url="{{publicURL}}{{usecase.value.image}}" class$="{{usecase.hidden}}" alt="Your image alt"></cells-image-card>
                </template>
            </div>
            <div id="templates">
                <div class="form-container">
                    <label>Select a Template:</label>
                    <template is="dom-repeat" id="template-listing" items="{{templates}}"  as="template">
                        <input type="radio" data-name$="template" on-click="getTemplateName" name="template.name"/>
                        <label class="templateName">{{template.name}}</label>
                    </template>
                </div>
                <div id="fileUploadContainer" class="upload-form">
                     <h2>Upload for template - {{selectedTemplateName}}</h2>
                     <template is="dom-repeat" items="{{files}}" as="file">
                        <div class="fileInput">
                          <input id="[[file.fileId]]" type="file" files="[[file.files]]" on-change="fileChanged"/>
                          <input id="[[file.fileId]]" type="button" on-click="removeFiles" value="-"></input>
                        </div>
                      </template>
                    <div id="addButton">
                        <input class="button" type="button" on-click="addFiles" value="Add File"/>
                        <input class="button secondary" type="button" on-click="extract" value="Extract"/>
                    </div>
                </div>
            </div>
       </div>
       
    </template>
      
<script>
    class DDEExtractLanding extends Polymer.Element {
        static get is() {
            return 'dde-extract-landing';
        }

    // Declare properties for the element's public API
        static get properties() {
            return {
                usecases:{
                    type:Object
                },
                allUsecases:{
                    type: Object
                },
                templates:{
                    type: Array
                },
                publicURL:{
                    type: String,
                    value:'https://54.85.63.69'
                },
                selectedTemplateName:{
                    type: String
                },
                templateID: {
                    type: String
                },
                useCaseId: {
                    type: String
                },
                files: {
                    type: Array,
                    value: [],
                    notify: true
                },
                runtimeInput:{
                    type: Object
                },
                fileUploaded:{
                    type: Array
                },
                extractedData:{
                    type: Array
                },
                isLoading: {
                    type: Boolean,
                    value: false
                }
            };
        }

        constructor(){
            super();
        }

        ready(){
            super.ready();
            if(!this.runtimeInput){
                this.runtimeInput = document.createElement('input')
                this.runtimeInput.type ='file';
            }
            this.push('files',{fileId: new Date().getTime(), files: this.runtimeInput.files});
        }

        _findLastItem(files, index){
            console.log("Last Item find ",files, index)
            return (files.length - 1) === index
        }

        _prettify(obj){
            return JSON.stringify(obj)
        }

        _selectTemplate(e){
            this.templates = [];
            if(!e.currentTarget.classList.contains('show')){
                this.useCaseId = e.model.usecase.id;
                this.usecases = [Object.assign({hidden: "show"}, e.model.usecase)]
                this.isLoading = true;
                this.dispatchEvent(new CustomEvent('fetch-template', {detail : this.useCaseId , composed: true}))
            }
            else{
                e.currentTarget.classList.remove("show");
                this.$.templates.classList.remove('show')
                this.$.fileUploadContainer.classList.remove('show')
                this.usecases = this.allUsecases;
            }
        }
       
        useCasesFetched(e){
            this.set('usecases', this._toArray(e));
            this.isLoading = false;
            this.usecases= this.usecases.filter(function( element ) {
                return element !== undefined;
            });
            this.allUsecases = this.usecases;
        }

        bindTemplates(e){
            this.templates = e;
            this.isLoading = false;
            this.$.templates.classList.add('show')
        }
        
        fetchUsecases(){
            this.isLoading = true;
            this.dispatchEvent(new Event('fetch-my-usecases'));
        }
        getTemplateName(e){
            this.templateID  = e.model.template.id;
            this.selectedTemplateName = e.model.template.name;
            this.$.fileUploadContainer.classList.add('show')
        }
        extract(){
            let postData = { templateID: this.templateID, files: this.files, usecaseId: this.useCaseId, templateName: this.selectedTemplateName};
            this.isLoading = true;
            this.dispatchEvent(new CustomEvent('extract-data', { detail: postData }))
        }
        extractComplete(e){
            localStorage.setItem("extractedData", JSON.stringify(e));
            localStorage.setItem("extractedUsecaseID", this.useCaseId);
            this.isLoading = false;
            this.dispatchEvent(new Event('navigate-to-extract-landing'));
        }
        _toArray(obj) {
            return Object.keys(obj).map(function(key) {
                if(key !== 'headers'){
                    return {
                        id: key,
                        value: obj[key]
                    };
                }
            });
        }
        addFiles(){
            if(!this.runtimeInput){
                this.runtimeInput = document.createElement('input')
                this.runtimeInput.type ='file';
            }
            this.push('files',{fileId: new Date().getTime(), files: this.runtimeInput.files});
            console.log("Files", this.files)
        }
        fileChanged(e){
            let id =  e.currentTarget.id
            let changedItem = this.files.findIndex(x => x.fileId ==id);
            this.set(`files.${changedItem}.files`, e.currentTarget.files);
        }
        removeFiles(e){
            let id =  e.currentTarget.id
            let allArray = this.files.filter((value,index,arr) =>{
                if(id != value.fileId)
                return arr;
            });
            this.set('files',allArray);
            console.log("Remove Files", this.files)
        }

    }
    customElements.define(DDEExtractLanding.is, DDEExtractLanding);
</script>
      
</dom-module>
      