<link rel="import" href="../../../components/cells-image-card/cells-image-card.html">
<link rel="import" href="../../../components/app-storage/app-storage-behavior.js">
<link rel="import" href="../../../components/cells-file-reader/cells-file-reader.html">
<link rel="import" href="../../../components/pdf-browser-viewer/pdf-browser-viewer.html">


<dom-module id="dde-train">
    
    <template>
            <link rel="stylesheet" href="../../../components/font-awesome/css/all.min.css"/>
        <style>
        :host {
            display: block;
            font-family: Arial, Helvetica, sans-serif;
        }
        h1{
            text-transform: uppercase;
            font-size: 14px;
        }
        #usecases{
           max-width: 100%;
           margin: 20px auto;
           padding-left: 10px;
           padding-right: 10px;
           text-align: center;
        }
        .content{
            display: flex;
            margin-top: 30px;
        }
        .form-control{
            display: flex;
            margin: 15px 0;

        }
        .form-control label{
            flex: 1;
            font-size: 13px;
            font-family: Arial,sans-serif,helvetica;
            text-align: left;
            padding-right: 20px;
        }
        .form-control textarea{
            flex: 4;
            font-size: 13px;
            padding: .375rem .75rem;
            background-color: #fff;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        .form-control input{
            width: 200px;
            padding: 5px;
            margin-right: 15px;
        }
        .form-control button.add, .form-control button.remove{
            width: 30px;
            color: #FFF;
            line-height: 18px;
            background: #102244;
            border: none;
            padding: 5px;
            height: 34px;
        }
        .textbox-wrapper{
            flex: 4;
            text-align: left;
        }
        button{
            background: #102244;
            color: #FFF;
            font-size: 12px;
            border: none;
            padding: 10px;
        }
        button.secondary{
            background: #596267;
            margin-left: 10px;
            padding: 8px 10px;
            font-size: 13px;
            line-height: 18px;
        }
        a.pagination{
            background: none;
            color: #102244;
            font-size: 18px;
            padding: 0 5px;
            text-decoration: none;
        }
        input[type="text"]{
            width: 300px;
            height: 35px;
            margin-bottom: 10px;
            padding: 0;
        }
        .form-control button.remove{
            background: #5A6268;
        }
        
        </style>
       <div id="usecases">
           

            <h1>Train {{template_name}}</h1>
           <i class="fas fa-camera"></i>
        
           

            <div class="content">
                <div style="flex: 1; overflow: auto; margin-right: 10px;
                background: #fff;
                box-shadow: 10px 10px 22px -10px rgba(0,0,0,.75);
                border-radius: 5px;
                border: 1px solid #dadada;
                box-sizing: border-box;">
                    <div style="height: 100%">
                    <!-- <pdf-browser-viewer id="pdfViewer" file="[[pdfSrc]]" height="800" width="100%"></pdf-browser-viewer> -->
                    <object data$="[[pdfSrc]]" height="800" width="100%"></object>
                      </div>
                    
                </div>
                <div style="flex: 1; overflow: auto; border-radius: 5px;
                border: 1px solid #dadada; margin-left: 5px; padding:10px; padding-bottom: 30px;">
                   <div style=" border-radius: 5px;
                   border: 1px solid #dadada; padding: 20px;">
                    <dom-repeat items="{{fields}}">
                        <p>[[item.fieldType.type]]</p>
                        <template>
                            <template is="dom-if" if="{{checkTextField(item.fieldType.type)}}">
                               <div class="form-control">
                                    <label for="{{item.name}}">{{item.name}}</label>
                                    <textarea value="{{item.value::input}}" rows="5"></textarea>
                               </div>
                            </template>
                            <template is="dom-if" if="{{!checkTextField(item.fieldType.type)}}">
                                <div class="form-control" data-index="[[index]]">
                                        <label for="{{item.name}}">{{item.name}}</label>
                                        <div class="textbox-wrapper">
                                        <template id="{{item.name}}" is="dom-repeat" items="{{item.value}}" as="values">
                                            <div>
                                                <input value="{{values::input}}" type="text"/>
                                                <template is="dom-if" if="{{_checkFirstItem(index)}}"> 
                                                    <button data-index$="{{index}}" class="add" data-item$="{{item}}" on-click="add">+</button>
                                                </template>
                                                <template is="dom-if" if="{{!_checkFirstItem(index)}}"> 
                                                    <button  data-index$="{{index}}" class="remove" data-item$="{{item}}" on-click="remove">-</button>
                                                </template>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                             </template>
                        </template>
                    </dom-repeat>
                 
                    <template is="dom-if" if={{showSubmit}}>
                            <button on-click="submit">Submit</button>
                     </template>
                    <button class="secondary" on-click="autoPopulate">Autopopulate</button>
                    <button class="secondary" on-click="clear">Clear</button>
                </div>
                    <div style="display: block; margin-top: 20px;">
                        <button class="secondary" on-click="prev">Prev</button>
                        <dom-repeat items="{{templates}}">
                            <template>
                                <a class="pagination" href="#" on-click="pageNav" data-index="index">{{_inc(index)}}</a>
                            </template>
                        </dom-repeat>
                        <i class="fa fa-caret-up"></i>
                        <button class="secondary" on-click="next">Next</button>
                    </div>
                    

                </div>
            </div>
            
        </div>
    </template>
      
<script>
    class DDETrain extends Polymer.Element {
        static get is() {
            return 'dde-train';
        }

    // Declare properties for the element's public API
        static get properties() {
            return {
                usecaseId:{
                    type:String,
                    value: "1"
                },
                publicURL:{
                    type: String,
                    value:'https://54.85.63.69'
                },
                template_name:{
                    type: String,
                    value: "CF_CO"
                },
                pdfSrc:{
                    type: String
                },
                result:{
                    type: Array,
                    value: []
                },
                templateID: {
                    type: String,
                    value: ''
                },
                showSubmit:{
                    type:Boolean,
                    value: false,
                    notify: true
                },
                templates:{
                    type: Array,
                    value: [],
                    notify: true
                },
                currentIndex:{
                    type: Number,
                    value: 0
                },
                formFields:{
                    type: Object,
                    notify: true
                },
                fields:{
                    type: Object,
                    notify: true
                },
                currentForm: {
                    type: Object
                },
                runtimeInput:{
                    type: Object
                },
                postJSON:{
                    type: Object
                }
            };
        }

        constructor(){
            super();
        }

        _checkNavigatedUrl(event) {
          console.log(event.value);
          if (event.value.currentPage === 'train' && event.value.fromPage === undefined) {
            this.dispatchEvent(new Event('navigate-to-home-from-train'));
          }
        }

        _checkFirstItem(index){
            return index  === 0;
        }
        _inc(i){
            return i+1;
        }
        _checkLastEntry(){
            return this.currentIndex === this.templates.length -1; 
        }
        add(e){
            let index= e.model.item.id;
            let newObj = JSON.parse(JSON.stringify(e.model.item));
            let arr = JSON.parse(JSON.stringify(e.model.item.value));
            arr.push('');
            newObj.value = arr;
            this.splice('fields',index,1,newObj);
        }

        remove(e){
          
            let index= e.model.item.id;
            let indexToRemove = e.model.index;
            let newObj = JSON.parse(JSON.stringify(e.model.item));
            let arr = JSON.parse(JSON.stringify(e.model.item.value));
            console.log("Index - ", index)
            arr.splice(indexToRemove,1)
            newObj.value = arr;
            console.log(newObj)
            this.splice('fields',index,1,newObj);
        }
        getTrainPDFs(){
            this.dispatchEvent(new CustomEvent('fetch-pdf', {detail : {template_name: this.template_name,use_case_id: this.usecaseId} , composed: true}))
        }
        checkTextField(item){
            if(item === "scalar"){
                return true;
            }
        }
        clear(){
            this.fields = JSON.parse(JSON.stringify(this.formFields));
        }
        submit(){
            if(this.currentIndex >= 0){
                this.result[this.currentIndex] = JSON.parse(JSON.stringify(this.fields));
            }
            let count = this.templates.length;
            this.postJSON = {"docs": []};
            for(let i = 0; i < count; i++){
               this.postJSON["docs"][i] = this.prepareJSON(i);
            }
            this.postJSON["template_id"] = this.templateID;
           
            this.dispatchEvent(new CustomEvent('post-train-data', {detail : {template_name: this.template_name,use_case_id: this.usecaseId, payload: this.postJSON} , composed: true}))
         
        }
        prettifyJSON(json){
            return JSON.stringify(json)
        }
        pageNav(e){
            e.preventDefault();
            if(this.currentIndex >= 0){
                this.result[this.currentIndex] = JSON.parse(JSON.stringify(this.fields));
            }
            this.currentIndex = e.model.index;
            this.fields = JSON.parse(JSON.stringify(this.formFields));
            this.fillForm(this.currentIndex)
            this.showSubmit = (this.currentIndex === this.templates.length - 1) ? true : false;
        }
        trainedResult(e){
           if(e === "Success"){
               alert("Template has been trained successfully!");
               window.location = '/'
           }
           else{
             alert(e)
           }
        }
        getLength(item){
            return item.length;
        }

        getMetaData(){
            this.dispatchEvent(new CustomEvent('fetch-metadata', {detail : {template_name: this.template_name,use_case_id: this.usecaseId} , composed: true}))
        }
       
        navigatePDF(){

        }
        _getTrainData(){
           // this.dispatchEvent(new CustomEvent('fetch-pdf', {detail : {selectedTemplate: ""} , composed: true}))
        }
        getDetails(evt){
            console.log(evt);
            this.set('template_name', evt.selectedTemplate.name);
            this.set('usecaseId', evt.usecaseid);
            this.getMetaData();
            this.getTrainPDFs();
        }
        metaDataFetched(e){
            this.set('fields',this._toArray(e.fields));
            this.set('formFields', this._toArray(e.fields))
          
        }
        trainDataFetched(evt){
            this.templates = evt.docs;
            this.templateID = evt.template_id;
            this.count = evt.docs.length;
            //this.autoPopulate(0)
            this.pdfSrc = `${this.publicURL}\\${this.templates[this.currentIndex].link+'#toolbar=0'}`;
        }

        autoPopulate(){
            let i  = this.currentIndex;
            if(this.templates[i].learn !== undefined){
                this.currentForm = this.templates[i];
                this.fields.map((item,index)=>{
                    if(item.fieldType.type === 'scalar'){
                        let newObj = JSON.parse(JSON.stringify(item));
                        if(this.currentForm.learn.fields[item.name] !== undefined){
                            newObj.value = this.currentForm.learn.fields[item.name].value === undefined ? '':  this.currentForm.learn.fields[item.name].value;
                            this.splice('fields',index,1,newObj);
                        }
                      
                    }
                    if(item.fieldType.type === 'table'){
                        if(this.currentForm.learn.table.fields[item.name] !== undefined){
                            let values = this.currentForm.learn.table.fields[item.name].values === undefined ?[]: this.currentForm.learn.table.fields[item.name].values;
                            let newObj = JSON.parse(JSON.stringify(item));
                            newObj.value = values;
                            this.splice('fields',index,1,newObj);
                        }
                    }   
                });
            }
            else{
                this.fields = JSON.parse(JSON.stringify(this.formFields));
            }
        }

        fillForm(index){
            if(this.result[index] !== undefined){
                this.fields = JSON.parse(JSON.stringify(this.result[index]));
            }
            this.pdfSrc = `${this.publicURL}\\${this.templates[this.currentIndex].link+'#toolbar=0'}`;
        }
       
        next(){
            if(this.currentIndex >= 0){
                this.result[this.currentIndex] = JSON.parse(JSON.stringify(this.fields));
            }
            this.currentIndex++;
            this.fields = JSON.parse(JSON.stringify(this.formFields));
            this.fillForm(this.currentIndex)
            this.pdfSrc = `${this.publicURL}\\${this.templates[this.currentIndex].link+'#toolbar=0'}`;
            this.showSubmit = (this.currentIndex === this.templates.length - 1) ? true : false;
            //this.autoPopulate(this.currentIndex)
        }

        prev(){
            if(this.currentIndex >= 0){
                this.result[this.currentIndex] = JSON.parse(JSON.stringify(this.fields));
            }
            this.currentIndex--;
            this.fields = JSON.parse(JSON.stringify(this.formFields));
            this.fillForm(this.currentIndex)
            this.pdfSrc = `${this.publicURL}\\${this.templates[this.currentIndex].link+'#toolbar=0'}`;
            //this.autoPopulate(this.currentIndex)
        }

        _createInputField(){
            return ['']
        }

        _toArray(obj) {
            return Object.keys(obj).map((key,index) => {
                return {
                    name: key,
                    fieldType: obj[key],
                    value: obj[key].type === "scalar" ? '' : this._createInputField(),
                    id: index
                };
            });
        }

        prepareJSON(i){
            let jsonToBePosted =  {};
            jsonToBePosted["link"] = this.templates[i]["link"];
            jsonToBePosted["doc"] = this.templates[i]["doc"];
            if(this.result[i] !== undefined){
                let fields = this.result[i];
                jsonToBePosted["learn"] = {"fields": {}, "table":{"fields":{}}};
                fields.map((item,index)=>{
                let fieldName = item.name; 
                    if(item.fieldType.type === "scalar" && item.value !== '' ){
                        let scalarField = 
                        {
                                "type": "field",
                                "value": item.value
                        }
                        jsonToBePosted["learn"]["fields"][item.name] = scalarField;
                    }
                    else if(item.fieldType.type === "table" && item.value.length === 0){
                        console.log( item.value.length)
                        let tabularField = 
                        {
                                "type": "table",
                                "values": item.value
                        }
                        jsonToBePosted["learn"]["table"]["fields"][item.name] = tabularField;
                    }
                
                }); 
            }
           
            return jsonToBePosted;
        }
    }
    customElements.define(DDETrain.is, DDETrain);
</script>
      
</dom-module>
      