<link rel="import" href="../../../components/cells-st-link/cells-st-link.html">

<dom-module id="dde-header">

    <template>
      <style>
        :host {
          display: block;
        }
        #nav{
          background: #0E2244;
          padding: 10px;
        }
        #nav img{
           width: 160px;
        }
        #headerBg, #condensedHeaderBg{
          position: relative;
        }
        cells-component-app-header{
          position: relative;
        }
        #nav-right {
          color: white;
          float: right;
          top: 10px;
          position: relative;
          margin-right: 40px;
        }

        cells-st-link {
          cursor: pointer;
          position: relative;
          top: 5px;
          margin-right: 20px;
          --cells-st-link-color: white;
        }
      </style>
 
      <div id="nav">
        <img src="https://54.85.63.69/assets/images/logo.jpg">
        <div id="nav-right" on-click="_navigateToHome">
          <template is="dom-if" if="{{displayUsecasePageLink}}">
              <cells-st-link><a on-click="_navigateToTrainLanding">Train</a></cells-st-link>
              <cells-st-link><a on-click="_navigateToExtractLanding">Extract</a></cells-st-link>
          </template>
          <iron-icon icon="coronita:home"></iron-icon>
        </div>
      </div>
    </template>
  
    <script>
      class DDEHeader extends Polymer.Element {
        static get is() {
          return 'dde-header';
        }
  
        // Declare properties for the element's public API
        static get properties() {
          return {
            displayUsecasePageLink: {
              type: Boolean,
              value: true
            }
          };
        }

        _navigateToHome(e) {
          e.preventDefault();
          this.dispatchEvent(new Event('navigate-to-home'));
        }

        _navigateToTrainLanding(e) {
          e.preventDefault();
          this.dispatchEvent(new Event('navigate-to-train-landing'));
        }

        _navigateToExtractLanding(e) {
          e.preventDefault();
          this.dispatchEvent(new Event('navigate-to-extract-landing'));
        }
      }
  
      customElements.define(DDEHeader.is, DDEHeader);
      </script>
  
  </dom-module>
  