<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">

<dom-module id="dde-train-landing-dm">

  <template>
    <cells-generic-dp
      id="usecasesDP"
      host="https://54.85.63.69/api/v1"
      path="getUsecases"
      method="GET"
      on-request-success="_onRequestOkForUsecases"
      on-request-error="_onRequestErrorForUsecases">
    </cells-generic-dp>

    <cells-generic-dp
      id="templatesDP"
      host="https://54.85.63.69/api/v1"
      path="getTemplatesForTrain"
      params='{"use_case_id": ""}'
      method="GET"
      on-request-success="_onRequestOkForTemplates"
      on-request-error="_onRequestErrorForTemplates">
    </cells-generic-dp>
  </template>

  <script>
    {
      // Define the element's API using an ES2015 class
      class DDETrainLandingDM extends Polymer.Element {
        static get is() {
          return 'dde-train-landing-dm';
        }

        // Declare properties for the element's public API
        static get properties() {
          return {
          };
        }

        ready() {
          super.ready();
        }

        _getTrainedUsecases() {
          this.$.usecasesDP.generateRequest();
        }

        _onRequestOkForUsecases(evt) {
          const data = evt.detail;
          if (data.headers) {
            delete data.headers;
          }
          this.dispatchEvent(new CustomEvent('request-ok-for-usecases', { detail: data }));
        }

        _onRequestErrorForUsecases(err) {
          console.log(err);
          this.dispatchEvent(new Event('request-error-for-usecases'));
        }

        _getTemplates(evt) {
          this.$.templatesDP.params.use_case_id = evt;
          this.$.templatesDP.generateRequest();
        }

        _onRequestOkForTemplates(evt) {
          const data = evt.detail.templates;
          this.dispatchEvent(new CustomEvent('request-ok-for-templates', {detail: data }));
        }

        _onRequestErrorForTemplates(err) {
          console.log(err);
          this.dispatchEvent(new Event('request-error-for-templates'));
        }

      }

      // Register the custom element with the browser
      customElements.define(DDETrainLandingDM.is, DDETrainLandingDM);
    }
  </script>
</dom-module>
