<link rel="import" href="../../../components/cells-image-card/cells-image-card.html">
<link rel="import" href="../../../components/app-storage/app-storage-behavior.js">
<link rel="import" href="../../../components/cells-middle-modal/cells-middle-modal.html">
<link rel="import" href="../../../components/cells-file-reader/cells-file-reader.html">
<link rel="import" href="../../../components/Pdf-Viewer/index.html">
<link rel="import" href="../../../components/pdf-browser-viewer/pdf-browser-viewer.html">
<dom-module id="dde-extract-listing">
    <template>
        <style>
        :host {
            display: block;
            font-family: Arial, Helvetica, sans-serif;
        }
        h1{
            text-transform: uppercase;
            font-size: 18px;
            text-align: center

        }
        h2{
            text-align: center;
            text-transform: normal;
            font-size: 16px;
        }
        #usecases{
            max-width:95%;
            margin: 0 auto;
        }
        table{
            border-collapse: collapse;
            width: 100%;
            table-layout: fixed;
        }
        th{
            background: #031326;
            font-size: 14px;
            color: #f79131;
            padding: 5px;
            border: none;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            text-align: left;
        }
        td{
            word-break: break-word;
            padding: 10px;
            border: none;
            border-bottom: 1px solid #d7d7d7;
            text-align: left;
            font-size: 12px;
        }
        .resultTable, .jsonTable{
            width: 100%;
            font-size: 10px;
        }
        .jsonTable {
            width: auto;
            overflow: scroll;
            word-wrap: break-word;
            box-sizing: border-box;
            border: 1px solid #d7d7d7;
            margin: 10px auto 0;
            border-collapse: collapse;
        }
        .resultTable th, .jsonTable th{
            padding: 5px;
            border: 1px solid #d7d7d7;
            background: #D3D3D3;
            color: #555;
            font-size: 10px;
        }
        .resultTable td, .jsonTable td{
            padding: 5px;
            border: 1px solid #d7d7d7;
            height: auto;
            max-width: 10%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 10px;
            cursor: pointer;
        }
        .resultTable td.result{
            width: 30%;
            cursor: pointer;
        }
        .resultTable td.result:hover{
            cursor: pointer;
        }
        cells-middle-modal{
            left: 0;
            width: 100%;
            height: 96vh;
            --cells-middle-modal-desktop-md-content:{
                padding: 0;
                max-width: 100%;
            }
            --cells-middle-modal-md-modal-max-width: 97%;
            --cells-middle-modal-md-modal-min-width: 97%;
            --cells-middle-modal-md-overlay-background-color: grey;
            --cells-middle-modal-md-overlay-opacity: 0.6;
            
        }
        .content{
            width: 100%;
            height: 100vh;
            margin-top: 70px;
            overflow: auto;
            display: flex;
        }
        cells-file-reader{
            background: red !important;
            --cells-file-reader-viewer:{
                background: red !important;
            }
        }
        pre{
            margin-top: 0;
            margin-bottom: 1rem;
            overflow: auto;
            display: block;
            font-size: 87.5%;
            color: #212529;
            white-space: pre-wrap; 
            text-align: left;
        }
       
            
        </style>
       <div id="usecases">

            <h1>Extract</h1>
            <h2>Extracted {{extractedData.length}} file(s)</h2> 
            <cells-middle-modal id="modal" focus-target="btnNo" aria-labelledby="ariaText1a">
                <button style="position: absolute; top: -8px; left: -8px; background: rgba(0,0,0,0.6); color: #FFF; font-size: 10px; border: none; line-height: 18px; border-radius: 50%;" data-action="hide">X</button>
                <div class="content">
                    <div style="flex: 1; overflow: auto;">
                        <div style="height: 100%">
                            <pdf-browser-viewer id="pdfViewer" file="[[pdfSrc]]" height="800" width="100%"></pdf-browser-viewer>
                        </div>
                        
                    </div>
                    <div style="flex: 1; overflow: auto; padding: 10px;">
                            <div>
                                <div inner-h-t-m-l={{jsonHTML}} style="overflow: scroll; padding-bottom: 15px"></div>
                            </div>
                            <div style="background: #f5f5f4; margin: 10px; border:solid 1px #333333; padding: 20px;">
                               
                                <pre style="word-wrap: break-word">{{extractedJSON}}</pre>
                        </div>
                       
                    </div>
                </div>
                <!-- <div class="buttons">
                    <cells-st-button>
                    <button id="btnNo" data-action="hide">No</button>
                    </cells-st-button>
                    <cells-st-button class="secondary">
                    <button>Yes</button>
                    </cells-st-button>
                </div> -->
            </cells-middle-modal>
                  
                  
            <div style="border:solid 1px #d7d7d7">
                <table>
                    <thead>
                        <th width="15%">Template Name</th>
                        <th width="15%">Document Name</th>
                        <th width="10%">Status</th>
                        <th width="15%">Rows Extracted</th>
                        <th>Result</th>
                    </thead>
                    <template is="dom-repeat" items="{{extractedData}}" as="extractedTemplate">
                        <tbody>
                            <tr>
                                <td width="15%">{{extractedTemplate.templateName}}</td>
                                <td width="15%">{{extractedTemplate.pdfLink}}</td>
                                <td width="10%">{{extractedTemplate.status}}</td>
                                <td width="15%">{{_getRowCount(extractedTemplate.json)}}</td>
                                <td width="45%" data-name$="extractedTemplate" on-click="_openModal" class="result">
                                    <div inner-h-t-m-l=" {{_formatJSON(extractedTemplate.json,'resultTable')}}"></div>
                                </td>
                            </tr>
                        </tbody>
                    </template>
                </table>
            </div>
       </div>
       
    </template>
      
<script>
    class DDEExtractListing extends Polymer.Element {
        static get is() {
            return 'dde-extract-listing';
        }

    // Declare properties for the element's public API
        static get properties() {
            return {
                extractedData:{
                    type: Array,
                    value: JSON.parse(localStorage.getItem("extractedData"))
                },
                jsonHTML:{
                    type: String
                },
                pdfSrc:{
                    type: String
                },      
                extractedJSON:{
                    type:String
                }
            };
        }

        _checkNavigatedUrl(event) {
          console.log(event.value);
          if (event.value.currentPage === 'extract-listing' && event.value.fromPage === undefined) {
            this.dispatchEvent(new Event('navigate-to-home-from-extract-listing'));
          }
        }

        fetchExtractedData(e){
            console.log(this.extractedData)
            console.log("On extract", e)
            
        }

        _stringfy(json){
            console.log(json)
            return JSON.stringify(json)
        }

        _syntaxHighlight(json) {
        json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
        return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
            var cls = 'number';
            if (/^"/.test(match)) {
                if (/:$/.test(match)) {
                    cls = 'key';
                } else {
                    cls = 'string';
                }
            } else if (/true|false/.test(match)) {
                cls = 'boolean';
            } else if (/null/.test(match)) {
                cls = 'null';
            }
            return '<span class="' + cls + '">' + match + '</span>';
        });
        }

        readPDF(e){
            const fileURL = URL.createObjectURL(e);
            this.pdfSrc = fileURL+'#toolbar=0';
        }

        _openModal(e){
            this.$.modal.set('open', true);
            this.jsonHTML = this._formatJSON(e.model.extractedTemplate.json, 'jsonTable');
            this.extractedJSON = JSON.stringify(e.model.extractedTemplate.json);
            let templateName = e.model.extractedTemplate.templateName;
            let pdfName = e.model.extractedTemplate.pdfLink.slice(0, -4);
            let usecaseID = localStorage.getItem("extractedUsecaseID");
            this.dispatchEvent(new CustomEvent('fetch-pdf', {detail : { templateName: templateName, pdfName: pdfName, usecaseID: usecaseID} , composed: true}))
        }

        _getRowCount(json){
            var rowLength = 0;
            let isScalar = true;
            let len = Object.keys(json).length;
            let index = 0;
            for(var key in json){
                if(typeof json[key] !== "string"){
                    isScalar = false;
                    if(json[key].length > 0){
                        rowLength = json[key].length;
                    }
                    else{
                        rowLength = 1
                    }
                }
                index++;
                if(index === len){
                    if(isScalar){
                        rowLength = 1;
                    }
                }
            }
            return rowLength;
        }

        _formatJSON(json,className){
            var htmlTable = "<table class='"+className+"' cellpadding='0' cellspacing='0'>"
            var rowLength = 1;//(className === 'resultTable'? 1 : 1);
            var colcount = 1;
            htmlTable += "<tr bgcolor='#D3D3D3'>";
            for(var key in json){
                if(colcount > 5 && className == 'resultTable'){
                    break;
                }
                htmlTable += `<th>${key}</th>`;
                if(typeof json[key] !== "string"){
                    if(json[key].length > 0){
                    rowLength = json[key].length;
                    }
                }
                colcount++;
            }
            htmlTable += "</tr>";
            colcount = 1;
            for(var i = 0; i <rowLength; i++){
                htmlTable += "<tr>";
                for(var key in json){
                    if((colcount > 5 && className === 'resultTable') || (Object.keys(json).length+1 === colcount && className === 'resultTable')){
                        break;
                    }
                    else{
                        if(typeof json[key] == "string"){
                            htmlTable += `<td width="10%">${json[key]}</td>`;
                        }
                        else{
                            if(json[key][i] === undefined){
                                htmlTable += `<td width="10%">NAN</td>`
                            }
                            else{
                                htmlTable += `<td width="10%">${json[key][i]}</td>`
                            }
                        }
                    
                    }
                    colcount++;
                }
                htmlTable += "</tr>";
            }
            htmlTable+= '</table>';
            
            return htmlTable;
        }
        
    }
    customElements.define(DDEExtractListing.is, DDEExtractListing);
</script>
      
</dom-module>
      