<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">
<link rel="import" href="../../../components/iron-ajax/iron-ajax.html">

<dom-module id="dde-extract-dm">
    <template>
    
        <cells-generic-dp id="extractLanding" host="[[host]]" method="[[method]]" on-request-success="_usecasesFetched"
            on-request-error="_onRequestError">
        </cells-generic-dp>

        <cells-generic-dp id="templatesDP" host="[[host]]" method="[[method]]" on-request-success="_templatesFetched"
            on-request-error="_onRequestError">
        </cells-generic-dp>

        <cells-generic-dp id="extractDP" host="[[host]]" method="post" on-request-success="_extractData"
            on-request-error="_onRequestError">
        </cells-generic-dp>

        <cells-generic-dp id="getTrainPDFs" host="[[host]]" method="get" on-request-success="_trainDataFetched"
        on-request-error="_onRequestError">
        </cells-generic-dp>

        <cells-generic-dp id="getMetaData" host="[[host]]" method="get" on-request-success="_metaDataFetched"
        on-request-error="_onRequestError">
        </cells-generic-dp>

        <cells-generic-dp id="postTrain" handle-as="text" host="[[host]]" method="post" on-request-success="_postResult"
        on-request-error="_onRequestError">
       </cells-generic-dp>

        <cells-generic-dp id="getPDF" host="[[host]]"  method="get" on-request-success="_pdfFetched"
          on-request-error="_onRequestError" handle-as="blob">

          <!-- <iron-ajax
              auto
              url="https://54.85.63.69/api/v1/getPdf?use_case_id=1&template_name=BW_CO&pdf_name=BW_1_2"
              id="getPDF"
              params ="{use_case_id: '1',template_name: 'BW_CO',   pdf_name:'BW_1_2' }"
              handle-as="blob"
              on-response="_pdfFetched"
              debounce-duration="300">
          </iron-ajax>
       -->

    </template>
    <script>
            {
              // Define the element's API using an ES2015 class
              class DDEExtractDM extends Polymer.Element {
                static get is() {
                  return 'dde-extract-dm';
                }
        
        
                // Declare properties for the element's public API
                static get properties() {
                  return {
                    host: {
                      type: String,
                      value: 'https://54.85.63.69/api/v1'
                    }
                  
                  }
                }
        
                _onRequestError(err) {
                  // BE AWARE! If you are not sending a payload, you can use 'Event' instead of 'CustomEvent'
                  // resource: https://developer.mozilla.org/en-US/docs/Web/Guide/Events/Creating_and_triggering_events
                  this.dispatchEvent(new Event('youtube-request-error'));
                }
        
                _doRequest(path, params, id) {
              
                  // Setting up the params
                  this.$[id].params = params;
                  this.$[id].path = path;
                  // Generating the request
                  this.$[id].generateRequest();
                  this._commonStartEvent();
                }
        
                // API call to get recommended list
                getUsecases() {
                  let params = {};
                  this._doRequest('getUsecases', params, 'extractLanding');
                }

                getPDF(evt){
                  let params = {
                    use_case_id: evt.usecaseID,
                    template_name: evt.templateName,//evt.selectedTemplate.templateName",
                    pdf_name: evt.pdfName
                  }
                  this.$.getPDF.params = params;
                  this.$.getPDF.path = "getPdf"
                  this.$.getPDF.generateRequest();
                }

                getTrainPDFs(e){
                  let params = {
                    template_name: e.template_name,
                    use_case_id: e.use_case_id
                  }
                  this._doRequest('getTrainPdfs', params, 'getTrainPDFs')
                }

                getMetaData(e){
                  let params = {
                    template_name: e.template_name,
                    use_case_id: e.use_case_id
                  }
                  this._doRequest('getMetaData', params, 'getMetaData')
                }

                getTemplates(evt){
                  console.log("Event", evt)
                  let params = {
                    use_case_id: evt
                  };
                  this._doRequest('getTemplatesForExtract', params, 'templatesDP')
                }

                postTrainData(evt){
                  
                  let params = {
                    use_case_id: evt.use_case_id,
                    template_name: evt.template_name
                  }

                  let body = evt.payload;

                  // Setting up the params
                  this.$.postTrain.params = params;
                  this.$.postTrain.path = "train";
                  this.$.postTrain.body = body;

                  // Generating the request
                  this.$.postTrain.generateRequest();

                }


                postExtract(evt){
                  console.log(evt);
                  let files = evt.files;
                  let useCaseID = evt.usecaseId;
                  let templateID = evt.templateID;
                  let templateName = evt.templateName;
                
                  var pArr = []; let failedPromises=[]; let extractedData = [];
                 
                  files.map((item) => {
                      let formData = new FormData();
                      formData.append('file', item.files[0], item.files[0].name)
                      pArr.push(fetch(`https://54.85.63.69/api/v1/extractUpload?use_case_id=${useCaseID}&template_name=${templateName}`, { // Your POST endpoint
                      method: 'POST',
                      body: formData // This is your file object
                      }).then(function(response) {
                        return response.json();
                      })
                      .then(function(extractedJSON) {
                          extractedData.push({json: extractedJSON, templateID: evt.templateID, usecaseId: evt.useCaseID, status: 'Completed', pdfLink: item.files[0].name, templateName: templateName})
                      })); 
                  });

                  Promise.all(pArr).then(()=>{
                     this.dispatchEvent(new CustomEvent('templates-extracted', {detail: extractedData}))
                  })  
                }


                _templatesFetched(evt){
                  this.dispatchEvent(new CustomEvent('templates-fetched', { detail: evt.detail.templates  }));
                  this._commonEvent();
                }

                _pdfFetched(evt){
                  console.log(event.currentTarget.response)
                  this.dispatchEvent(new CustomEvent('pdf-fetched', { detail: event.currentTarget.response  }));
                }

                _postResult(evt){
                  console.log(evt)
                  this.dispatchEvent(new CustomEvent('trained-result', { detail: evt.detail }));
                }

                _metaDataFetched(e){
                  this.dispatchEvent(new CustomEvent('metadata-fetched', {detail: e.detail}));
                  this._commonEvent();
                }
                
                _usecasesFetched(evt) {
                  this.dispatchEvent(new CustomEvent('usecases-fetched', { detail: evt.detail}));
                  this._commonEvent();
                }

                _trainDataFetched(evt){
                  this.dispatchEvent(new CustomEvent('traindata-fetched', {detail: evt.detail}));
                  this._commonEvent();
                }
        
                _commonStartEvent() {
                  this.dispatchEvent(new CustomEvent('dde-request-start', { detail: true }));
                  this._commonEvent();
                }
                _commonEvent() {
                  this.dispatchEvent(new Event('dde-request-ok'));
                }
                
              }
              // Register the custom element with the browser
              customElements.define(DDEExtractDM.is, DDEExtractDM);
            }
          </script>
    
</dom-module>
