<link rel="import" href="../../../components/cells-st-button/cells-st-button.html">
<link rel="import" href="../../../components/cells-st-link/cells-st-link.html">
<dom-module id="dde-home">

    <template>
      <style>
        :host {
          display: block;
          max-width: 1140px;
          margin: 0 auto;
          font-family: Arial, Helvetica, sans-serif;
        }
        h1{
            text-align: center;
            font-size: 48px;
            color: #102244;
        }
        .btn-container{
            max-width: 400px;
            margin:0 auto;
        }
        cells-st-link{
            display: block;
            border-radius: 10px;
            background: #102244;
            text-align: center;
            text-decoration: none;
            --cells-st-link-color:red;
            margin-bottom: 20px;
        }
        cells-st-link a{
          color:#FFF;
          font-size: 28px;
          padding: 30px 100px;
          text-decoration: none;
          display: inline-block;
        }
      </style>
 
      <h1>Document Data Extractor</h1>
      <div class="btn-container">
        <cells-st-link>
          <a on-click="_navigateToTrain" href="#">Train</a>
        </cells-st-link>
        <cells-st-link>
          <a on-click="_navigate" href="#">Extract</a>
        </cells-st-link>
        
      </div>
      
    </template>
  
    <script>
      class DDEHome extends Polymer.Element {
        static get is() {
          return 'dde-home';
        }
        // Declare properties for the element's public API
        static get properties() {
          return {};
        }

        _navigateToTrain(e){
          e.preventDefault();
          this.dispatchEvent(new Event('navigate-to-train-landing'));
        }

        _navigate(e){
          e.preventDefault();
  
          this.dispatchEvent(new Event('navigate-to-extract-landing'));
        }
      }
  
      customElements.define(DDEHome.is, DDEHome);
      </script>
  
  </dom-module>
  